{% extends 'base.html' %}

{% block content %}
<section id="about" class="tm-section">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
            <header>
                <h2 class="tm-blue-text tm-section-title tm-margin-b-45">About the team</h2>
            </header>
            <p>Sed turpis nunc, laoreet sit amet fermentum sed, euismod ac justo. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos.</p>
            <p>Donec ut lectus semper, sollicitudin risus blandit, mattis felis. Nam non malesuada odio. Vestibulum
                vaius, arcu eget rutrum consequat, arcu lacus imperdiet arcu, id pulvinar arcu erat vel magna.</p>
            <p>Ut commodo malesuada eros, quis consequat ante tincidunt ut. Suspendisse malesuada augue vitae nisi
                sollicitudin placerat.</p>
            <a href="#" class="tm-button tm-button-wide">Read More</a>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-lg-8 pull-md-7 tm-about-img-container">
            <img src="img/neaty-02.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
</section>
{% endblock %}