{% extends 'base.html' %}

{% block content %}
<section style="list-style-type: none;">

    <form action="" method="post">
        <p><label for="cat_name">Добавить категорию</label></p>
        <div style="margin-bottom: 5rem;">
            <input type="text" id="cat_name" name="category">
            <input type="submit" value="Добавить">
        </div>

    </form>
</section>
<section style="list-style-type: none;">
    <h1>Наши курсы и мастер-классы</h1>
    {% for cat in category %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ cat.path_img }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ cat.name }}</h5>
            <p class="card-text">Подкатегорий: {{ cat.subcategories }}</p>
            <p class="card-text">Курсов в данной категории: {{ cat.courses }}</p>
            <a href="{{ url }}/learncook/category?id={{ cat.id }}" class="btn btn-primary">Список курсов</a>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}