<div class="tm-blue-bg tm-left-column">                        
    <div class="tm-logo-div text-xs-center">
        <img src="img/tm-neaty-logo.png" alt="Logo">
        <h1 class="tm-site-name">Neaty</h1>
    </div>
    <nav class="tm-main-nav">
        <ul class="tm-main-nav-ul">
            <li class="tm-nav-item">
                <a href=" {{ url }} " class="tm-nav-item-link">Welcome</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/learncook" class="tm-nav-item-link">Учимся готовить</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/registration" class="tm-nav-item-link">Регистрация</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/students_list" class="tm-nav-item-link">Список студентов</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/about" class="tm-nav-item-link">About Us</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/firstgallery" class="tm-nav-item-link">Gallery One</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/secondgallery" class="tm-nav-item-link">Second Gallery</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/thirdgallery" class="tm-nav-item-link">Third Gallery</a>
            </li>
            <li class="tm-nav-item">
                <a href="{{ url }}/contact" class="tm-nav-item-link">Contact Us</a>
            </li>
        </ul>
    </nav>                                         
</div>