{% extends 'base.html' %}

{% block content %}
<section id="secondgallery" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Second Gallery</h2></header>
    <div class="tm-gallery-container tm-gallery-2">
        <div class="tm-img-container tm-img-container-2">
            <a href="img/neaty-08.jpg"><img src="img/neaty-08.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-2">
            <a href="img/neaty-09.jpg"><img src="img/neaty-09.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-2">
            <a href="img/neaty-10.jpg"><img src="img/neaty-10.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
    </div>
</section>
{% endblock %}