{% extends 'base.html' %}

{% block content %}
<section id="about" class="tm-section">
    <h1>Список студентов</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cтудент</th>
        </tr>
        </thead>
        <tbody>
        {% set count = namespace(a=1) %}
        {% for object in objects_list %}
        <tr>
            <th scope="row">{{ count.a }}</th>
            <td><a href="/student?id={{ object[0] }}">{{ object[1] }} {{ object[2] }}</a></td>
            {% set count.a = count.a + 1 %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
{% endblock %}