{% extends 'base.html' %}

{% block content %}
<section id="thirdgallery" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Third Gallery</h2></header>
    <div class="tm-gallery-container tm-gallery-3">
        <div class="tm-img-container tm-img-container-3">
            <a href="img/neaty-11.jpg"><img src="img/neaty-11.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="img/neaty-12.jpg"><img src="img/neaty-12.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="img/neaty-13.jpg"><img src="img/neaty-13.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
        <div class="tm-img-container tm-img-container-3">
            <a href="img/neaty-14.jpg"><img src="img/neaty-14.jpg" alt="Image" class="img-fluid tm-img-tn"></a>
        </div>
    </div>
</section>
{% endblock %}